In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('HR_Analytics.csv.csv')

In [10]:
df.sample(10)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
210,32,Yes,Travel_Rarely,1045,Sales,4,4,Medical,1,291,...,3,80,0,14,2,2,14,8,9,8
1413,25,No,Travel_Rarely,977,Research & Development,2,1,Other,1,1992,...,3,80,1,7,2,2,2,2,0,2
196,35,No,Travel_Frequently,138,Research & Development,2,3,Medical,1,269,...,4,80,0,10,5,3,6,2,1,2
152,53,No,Travel_Rarely,1436,Sales,6,2,Marketing,1,205,...,4,80,1,13,3,1,7,7,4,5
1142,45,No,Travel_Rarely,1015,Research & Development,5,5,Medical,1,1611,...,1,80,0,10,3,3,10,7,1,4
323,28,Yes,Travel_Rarely,1157,Research & Development,2,4,Medical,1,440,...,4,80,0,5,4,2,3,2,2,2
112,54,No,Non-Travel,142,Human Resources,26,3,Human Resources,1,148,...,3,80,0,23,3,3,5,3,4,4
1059,35,No,Travel_Rarely,660,Sales,7,1,Life Sciences,1,1492,...,1,80,1,1,3,3,1,0,0,0
166,41,No,Travel_Rarely,465,Research & Development,14,3,Life Sciences,1,227,...,1,80,1,13,2,3,9,8,1,8
429,46,No,Travel_Rarely,1009,Research & Development,2,3,Life Sciences,1,575,...,3,80,0,26,2,1,3,2,0,1

In [11]:
df['Period'].value_counts()

KeyError: 'Period'

In [ ]:
df.shape

In [12]:
df.isnull().mean()

Age                         0.0
Attrition                   0.0
BusinessTravel              0.0
DailyRate                   0.0
Department                  0.0
DistanceFromHome            0.0
Education                   0.0
EducationField              0.0
EmployeeCount               0.0
EmployeeNumber              0.0
EnvironmentSatisfaction     0.0
Gender                      0.0
HourlyRate                  0.0
JobInvolvement              0.0
JobLevel                    0.0
JobRole                     0.0
JobSatisfaction             0.0
MaritalStatus               0.0
MonthlyIncome               0.0
MonthlyRate                 0.0
NumCompaniesWorked          0.0
Over18                      0.0
OverTime                    0.0
PercentSalaryHike           0.0
PerformanceRating           0.0
RelationshipSatisfaction    0.0
StandardHours               0.0
StockOptionLevel            0.0
TotalWorkingYears           0.0
TrainingTimesLastYear       0.0
WorkLifeBalance             0.0
YearsAtCompany              0.0
YearsInCurrentRole          0.0
YearsSinceLastPromotion     0.0
YearsWithCurrManager        0.0
dtype: float64

In [13]:
import matplotlib.pyplot as plt